.Header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    background-color: $color-accent;
    box-shadow: 0 2px 2px $color-alpha-tint-light;
    text-overflow: ellipsis;
    color: $color-complement;
}

.Header-title {
    @include link-default($color-complement, none);
    padding: 0.75rem 1rem;
    font-size: 1.125rem; // 18px
    line-height: (24 / 18);
    white-space: nowrap;
}

.Header-button {
    @include border-inline(end, 1px solid rgba($color-complement, 0.25));
    display: block;
    border: 0;
    height: 3rem;
    width: 3rem;
    touch-action: manipulation;

    &:focus,
    &:active {
        outline: none;
    }

    &:hover {
        background-color: $color-alpha-tint-lightest;
    }

    &:active {
        background-color: $color-alpha-tint-lighter;
    }
}

.Header-navToggle {
    svg {
        display: block;
        margin: 0 auto;
    }
}

.Header-closeIcon {
    visibility: hidden;

    .is-closed & {
        visibility: visible;
    }
}

.Header-menuIcon {
    visibility: visible;

    .is-closed & {
        visibility: hidden;
    }
}
